#game-canvas {
    margin: 0px 10px;
    border: 5px solid darkred;
}
h1 {
    margin: 0px; 
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}
#instAndGame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.instructions {
    font-size: 1.5em;
}
#gameTime {
    text-align: center;
    font-size: 1.5em;
    border: 2px solid rgb(0, 26, 255);
    margin: 5px 0px 5px 0px;
    height: 30px;
    width: 450px;
    border-radius:4px;
    background-color: #1ee689;
    border-color: #012011;
}

#gameBoard {
    margin: 10px 0px; 
}

#start-game-button {
    display:inline-block;
    box-sizing: border-box;
    margin: 5px 0px 5px 0px;
    height: 30px;
    width: 250px;
    font-size:inherit;
    white-space: nowrap;
    cursor: pointer;
    border-radius:4px;
    color: #fff;
    background-color: #e6531e;
    border-color: #571903;
}

#hint{
    color: rgb(28, 8, 209);
    animation:blinkingText 1.2s infinite;
}
#hint > ul > li {
    list-style: none;
}
@keyframes blinkingText{
    0%{     color: rgb(28, 8, 209);    }
    49%{    color: rgb(28, 8, 209); }
    60%{    color: transparent;  }
    99%{    color:transparent; }
    100%{   color: rgb(28, 8, 209); }
}