#game-canvas {
    margin: 0px 100px;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#gameTime {
    font-size: large;
    border: 2px solid rgb(0, 26, 255);
    background-color: rgb(0, 255, 213);
}